<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Formulario</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.11/fullpage.css">
	<link rel="stylesheet" th:href="@{/CSS/stylePaginaPrincipalCliente.css}">
</head>

<body>


				<header>
					<a href="#" class="logo"><img class="im" src="/imagenes/logo1.png"></a>
					<nav>
						<ul>
							<li><a href="/paginaCliente">Inicio</a></li>
							<li><a href="/formPedido">Ralizar un pedido</a></li>
							<li><a href="/pedidos">Mis Pedidos</a></li>
							<li> <a th:action="@{/logout}" class="dropdown-item" th:href="@{/usuario/iniciarSesion}">Cerrar sesión</a></li>
						</ul>
					</nav>
				</header>
		    
		    	<section class="espacio"></section>
		    
		  <center><h1 class="font-weight-bold mb-0"><FONT color="black">MIS PEDIDOS</h1></center>
		    	<table class="content-table">
		    		<thead style="background:#BCC9D6;"class="thead">
		    			<tr>
		    				<th>ID</th>
		    				<th>FECHA_HORA</th>
		    				<th>CLIENTE</th>
		    				<th>TOTAL</th>
		    			</tr>
		    		</thead>
		    		<tbody>
		    		
			    		<tr th:each="pedido: ${pedidos}">
			    		<td th:text="${pedido.id}"></td>
			    			<td th:text="${pedido.fecha}"></td>
			    			<td th:text="${usuarios.nombre}+'  '+${usuarios.apellidoPat}"></td>
			    			<td th:text="'S/. '+${pedido.total}"></td>
			    		</tr>
		    		</tbody>
		    	</table>
		
		    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		       <footer class="section pie-pagina">
		        <div class="grupo-1">
		            <div class="box">
		                <figure>
		                    <a href="#">
		                        <img class="im-fo" src="/imagenes/PaBravoYo.png" alt="Logo de SLee Dw">
		                    </a>
		                </figure>
		            </div>
		            <div class="box">
		                <h2>SOBRE NOSOTROS</h2>
		                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
		                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
		            </div>
		            <div class="box">
		                <h2>SIGUENOS</h2>
		                <div class="red-social">
		          
		                    <a href="https://es-la.facebook.com/pabravoy/" class="fa fa-facebook"><ion-icon name="logo-facebook" class="tamaño"></ion-icon></a>
		                    <a href="https://instagram.com/pabravoyo80?igshid=YmMyMTA2M2Y=" class="fa fa-instagram"><ion-icon name="logo-instagram" class="tamaño"></ion-icon></a>
		                    <a href="https://twitter.com/PaBravo_Yo?t=KPUtZDyvUmu2pefTFXZraA&s=09" class="fa fa-twitter"><ion-icon name="logo-twitter" class="tamaño"></ion-icon></a>
		     
		                </div>
		            </div>
		        </div>
		        <div class="grupo-2">
		            <small>&copy; 2021 <b>SLee Dw</b> - Todos los Derechos Reservados.</small>
		        </div>
		    </footer>
 <script type="text/javascript">
		window.addEventListener("scroll", function(){
			var header = document.querySelector("header");
			header.classList.toggle("abajo",window.scrollY>0);
		})
	</script>
 	 <script src="../js/reserva_mesa.js"></script>
 	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>